    <md-content>
        <md-list>
            <md-item ng-repeat="item in blog">
                <md-item-content>
                    <div class="md-tile-left">
                        <img src="{{item.img}}" alt="" class="face"/>
                    </div>
                    <div class="md-tile-content">
                        <h2>{{item.title}}</h2>
                        <h3>{{item.owner}}</h3>
                        <h4>{{item.date}}</h4>
                        <p>
                            {{item.content}}
                        </p>
                        <md-button href="#/edit/{{item.id}}/{{item.title}}" class="md-raised">Editar</md-button>
                        <md-button class="md-raised md-warn" ng-click="eliminar($index)">Eliminar</md-button>
                    </div>
                </md-item-content>
            </md-item>
        </md-list>
    </md-content>


