<h1>{{movies.length}} Peliculas Favoritas</h1>

<md-list>
    <md-item ng-repeat="item in movies|filter:buscar" class="repeated-item" ng-if="item.poster_path!='' && item.poster_path!=null ">
        <md-whiteframe class="md-whiteframe-z5 md-whiteframe" layout >
        <md-item-content>


            <div class="md-tile-left">
                <img src="http://image.tmdb.org/t/p/w500{{item.poster_path}}" alt="{{item.title}}" class="imdb">
            </div>

            <div class="md-tile-content">


                <a href="#/detalle/{{item.id}}/{{item.title}}"><h3> {{item.title}} </h3></a>


                <p>
                    Rating {{item.vote_average}}
                </p>

            </div>




        </md-item-content>
            <span flex></span>
            <md-button ng-click="showConfirm($event,$index)" class="md-raised md-fab md-warn">
                <ng-md-icon icon="{{item.icon}}" size="32"></ng-md-icon>
            </md-button>
        </md-whiteframe>
    </md-item>
</md-list>